@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300&display=swap');


:root {
    --text-primary:#a5aaad;
}


/*  styling scrollbars  */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3ea175;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
  }


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lato';
    box-sizing: border-box;
}

.text-primary-p {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 700;
}

.font-bold {
    font-weight: 700;
}


.text-title {
    color: #2e4a66;
  }
  
  .text-lightblue {
    color: #469cac;
  }
  
  .text-red {
    color: #cc3d38;
  }
  
  .text-yellow {
    color: #a98921;
  }
  
  .text-green {
    color: #3b9668;
  }

// -----------------
.container {
 display: grid;
 height: 100vh;
 grid-template-columns: 0.8fr 1fr 1fr 1fr;
 grid-template-rows: 0.2fr 3fr;
 grid-template-areas:
 "sidebar nav nav nav"
 "sidebar main main main";
}

// -----------------
.navbar {
    background: white;
    grid-area: nav;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;

    .nav_icon {
        display: none;
        >i {
          font-size: 26px;
          color: #a5aaad;
        }
    }

    .navbar__left {
        >a {
            margin-right: 30px;
            text-decoration: none;
            color: #a5aaad;
            font-size: 20px;
            font-weight: 700;
        }

        .active_link {
            color: #265acc;
            border-bottom: 3px solid #265acc;
            padding-bottom: 12px;
        }
    }


    .navbar__right{
        display: flex;
        align-items: center;
        justify-content: center;

        >a{
            margin-left: 20px;
            > i{
                color: #a5aaad;
                font-size: 20px;
                border-radius: 50px;
                box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
            }
        }
    }
}

// -----------------
main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;

    .main__container{
        padding: 20px 50px;
        .main__title{
            display: flex;
            align-items: center;

            >img {
                max-height: 150px;
                object-fit: contain;
                margin-right: 20px;
            }

            .main__greeting {

                > h1 {
                    font-size: 36px;
                    color: #2e4a66;
                    margin-bottom: 5px;    
                }

                >p {
                    font-size: 20px;
                    font-weight: 700;
                    color: #a5aaad;
                }
                
            }
        }
        // ./main__title

        .main__cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            margin: 20px 0px;

            .card{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 25px;
                border-radius: 5px;
                background: #ffffff;
                box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
            

            .card_inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >p {
                        margin-top: 10px;
                        font-size: 17px;
                    }

                    > span {
                        font-size: 30px;
                    }
                } 
            }
        }
    }
}


// ----------------------
.charts {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 30px;
    margin: 20px;
}

.charts__left {
    padding: 25px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 13px #ededed,
                -5px -5px 13px #ffffff;

  &__title{
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div >h1 {
          font-size: 24px;
          color: #2e4a66;
          margin-bottom: 5px;
      }

      >i {
          color: #ffffff;
          font-size: 20px;
          background-color: #ffc100;
          border-radius: 200px 0 200px 200px;
          -moz-border-radius:200px 0 200px 200px;
          -webkit-border-radius: 200px 0 200px 200px;
          border: 0px solid #000000;
          padding: 15px;
      }
  }
}


.charts__right {
    padding: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 13px #ededed,
    -5px -5px 13px #ffffff;
    
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;


    > div >h1 {
        font-size: 24px;
        color: #2e4a66;
        margin-bottom: 5px;
    }

    > div >p {
        font-size: 14px;
        font-weight: 700;
        color: #afaaad;
    }

        >i {
            color: #ffffff;
            font-size: 20px;
            background-color: #394471;
            border-radius: 200px 0 200px 200px;
            -moz-border-radius:200px 0 200px 200px;
            -webkit-border-radius: 200px 0 200px 200px;
            border: 0px solid #000000;
            padding: 15px;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-top:30px;

        .card1 {
            background: #d1ecf1;
            color: #35a4ba;
            text-align: center;
            padding: 25px;
            border-radius: 5px;
            font-size: 14px;
        }

        .card2 {
            background: #d2f9ee;
            color: #3831b0;
            text-align: center;
            padding: 25px;
            border-radius: 5px;
            font-size: 14px;
        }

        .card3 {
            background: #d6d8d9;
            color: #3a3e41;
            text-align: center;
            padding: 25px;
            border-radius: 5px;
            font-size: 14px; 
        }

        .card4 {
            background: #fddcdf ;
            color: #f65a6f;
            text-align: center;
            padding: 25px;
            border-radius: 5px;
            font-size: 14px;
        }
    }
}


.sidebar {
    background: #020509;
    grid-area: sidebar;
    padding: 20px;
    

    &__img {
        display: flex;
        align-items: center;
        >h1 {
            font-size: 18px;
            display: inline ;
        }
    }

    &__title {

        display: flex;
        align-items: center;
       justify-content: space-between;
        color: #f3f4f6;
        margin-bottom: 30px;

        > div >img {
            width: 100px;
            object-fit: contain;
        }

        >i{

            font-size: 18px;
            margin-left: 5px;
            display: none;
        }
    }

    &__menu {
        .active_menu_link {
            background: rgba(62, 161, 117, 0.3);
            color: #3ea175;
            >a {
                color: #3ea175;   
            }
        }

        >h2 {
            color: #3ea175;
            font-size: 18px;
            margin-top: 15px;
            margin-bottom: 5px;
            padding: 0 10px;
            font-weight: 700;
        }
    }


    &__link{
        color: #f3f4f6;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 5px;

        > a {
            text-decoration: none;
            color: #a5aaad;
            font-weight: 700;
            font-size: 16px;
        }

        > i {
            font-size: 18px;
            margin-right: 10px;
        }
    }

    &__logout {
        margin-top: 20px;
        padding: 10px;
        color:#e65061;

        > a {
            text-decoration: none;
            color:#e65061;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    
}


.sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
  }

  
@media only screen and (max-width: 978px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
        "nav"
         "main";
    }

    .sidebar {
        display: none;

        &__title {
            >i{

                display: inline-block;
            }
        }
    }

    .navbar {
        .nav_icon {
          display: inline-block;
        }

        .navbar__left {
            display: none;
        }
      }

}





@media only screen and (max-width: 855px) {
    
    main {
        .main__container{

            padding: 0 30px;

            .main__title {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .main__cards {
                grid-template-columns: 1fr;
                gap:20px;
                margin: 25px ​0px;
            }
        }
    }
    
    
  
    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

}